<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SmokeSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="668b6e">  <td>22/08/03 10:18:04</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Apache_POI_TC.Execution()[pri:0, instance:GoNoise.Career@229c6181]">&gt;&gt;Execution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1926004335</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>22/08/03 10:18:07</td>   <td>3697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Career.TC_verifyCareer()[pri:1, instance:GoNoise.Career@229c6181]">TC_verifyCareer</td> 
  <td>main@1926004335</td>   <td></td> </tr>
<tr bgcolor="668b6e">  <td>22/08/03 10:19:12</td>   <td>68513</td> <td title="&lt;&lt;Apache_POI_TC.EndSuite()[pri:0, instance:GoNoise.Career@229c6181]">&lt;&lt;EndSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1926004335</td>   <td></td> </tr>
<tr bgcolor="668b6e">  <td>22/08/03 10:19:12</td>   <td>68332</td> <td>&nbsp;</td><td title="&lt;&lt;Apache_POI_TC.tearDown()[pri:0, instance:GoNoise.Career@229c6181]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1926004335</td>   <td></td> </tr>
<tr bgcolor="668b6e">  <td>22/08/03 10:18:04</td>   <td>-130</td> <td title="&gt;&gt;Apache_POI_TC.setUpSuite()[pri:0, instance:GoNoise.Career@229c6181]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1926004335</td>   <td></td> </tr>
<tr bgcolor="668b6e">  <td>22/08/03 10:19:12</td>   <td>68330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Apache_POI_TC.afterMethod(org.testng.ITestResult)[pri:0, instance:GoNoise.Career@229c6181]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1926004335</td>   <td></td> </tr>
</table>
