<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67eb8a">  <td>22/08/22 11:32:39</td>   <td>0</td> <td title="&lt;&lt;Apache_POI_TC.EndSuite()[pri:0, instance:GoNoise.RegisterWarranty@4d154ccd]">&lt;&lt;EndSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1594138273</td>   <td></td> </tr>
<tr bgcolor="c1a3bc">  <td>22/08/22 11:30:11</td>   <td>-147839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterWarranty.TC_verifyClickRegisterWarrantyLink()[pri:1, instance:GoNoise.RegisterWarranty@4d154ccd]">TC_verifyClickRegisterWarrantyLink</td> 
  <td>main@1594138273</td>   <td></td> </tr>
<tr bgcolor="67eb8a">  <td>22/08/22 11:32:38</td>   <td>-196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Apache_POI_TC.afterMethod(org.testng.ITestResult)[pri:0, instance:GoNoise.RegisterWarranty@4d154ccd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1594138273</td>   <td></td> </tr>
<tr bgcolor="67eb8a">  <td>22/08/22 11:32:38</td>   <td>-188</td> <td>&nbsp;</td><td title="&lt;&lt;Apache_POI_TC.tearDown()[pri:0, instance:GoNoise.RegisterWarranty@4d154ccd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1594138273</td>   <td></td> </tr>
<tr bgcolor="67eb8a">  <td>22/08/22 11:30:07</td>   <td>-151771</td> <td>&nbsp;</td><td title="&gt;&gt;Apache_POI_TC.Execution()[pri:0, instance:GoNoise.RegisterWarranty@4d154ccd]">&gt;&gt;Execution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1594138273</td>   <td></td> </tr>
<tr bgcolor="67eb8a">  <td>22/08/22 11:30:07</td>   <td>-151893</td> <td title="&gt;&gt;Apache_POI_TC.setUpSuite()[pri:0, instance:GoNoise.RegisterWarranty@4d154ccd]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1594138273</td>   <td></td> </tr>
</table>
