<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="668b6e">  <td>22/08/22 11:54:32</td>   <td>0</td> <td title="&lt;&lt;Apache_POI_TC.EndSuite()[pri:0, instance:Datadriven.allswirelessearbuds@41a0aa7d]">&lt;&lt;EndSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1579957528</td>   <td></td> </tr>
<tr bgcolor="668b6e">  <td>22/08/22 11:43:29</td>   <td>-662378</td> <td>&nbsp;</td><td title="&gt;&gt;Apache_POI_TC.Execution()[pri:0, instance:Datadriven.allswirelessearbuds@41a0aa7d]">&gt;&gt;Execution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1579957528</td>   <td></td> </tr>
<tr bgcolor="668b6e">  <td>22/08/22 11:54:32</td>   <td>-222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Apache_POI_TC.afterMethod(org.testng.ITestResult)[pri:0, instance:Datadriven.allswirelessearbuds@41a0aa7d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1579957528</td>   <td></td> </tr>
<tr bgcolor="f0819d">  <td>22/08/22 11:43:35</td>   <td>-657092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="allswirelessearbuds.getAllEarbudsCall()[pri:0, instance:Datadriven.allswirelessearbuds@41a0aa7d]">getAllEarbudsCall</td> 
  <td>main@1579957528</td>   <td></td> </tr>
<tr bgcolor="668b6e">  <td>22/08/22 11:43:29</td>   <td>-662493</td> <td title="&gt;&gt;Apache_POI_TC.setUpSuite()[pri:0, instance:Datadriven.allswirelessearbuds@41a0aa7d]">&gt;&gt;setUpSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1579957528</td>   <td></td> </tr>
<tr bgcolor="668b6e">  <td>22/08/22 11:54:32</td>   <td>-217</td> <td>&nbsp;</td><td title="&lt;&lt;Apache_POI_TC.tearDown()[pri:0, instance:Datadriven.allswirelessearbuds@41a0aa7d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1579957528</td>   <td></td> </tr>
</table>
